
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #0A304E;">
                    <a class="navbar-brand" href="homeretry">Search</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="profile">User Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="checkout">Cart</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="logout">Logout</a>
                            </li>
                          </ul>
                        </div>
                </nav>
        
                <div class="container">
                    <br>
                    <h1 align="center">CWRU LibDB</h1>
                    <hr/>

                    <h2 align="center">Cart Checkout</h2>
                  
                  <div class="row">
                    
                    <table class="table">
  <thead>
    <tr>
      <th scope="col">Book Name</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
      <ul>
       {% for key,value in books %}
        <td>{{key}}</td>   
        <td>{{value}}</td>  
       {% endfor %}
      </ul>
  </tbody>
</table>
                    <form action="" method="post">
                      <input type="submit" value="Checkout">  
                    </form>
                    
                  </div>
                  
                  
                  
                  
                  
                  
                  
    </body>
</html>
