

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="C:\Users\Jimmy\Documents\GitHub\customboot.css">
      <style>
        #navbarColor01 { color: 0A304E }
      </style>
    </head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #0A304E;">
                    <a class="navbar-brand" href="#">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="home.html">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="results.html">Results</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="profile.html">User Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="checkout.html">Cart</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="logout.html">Logout</a>
                            </li>
                          </ul>
                        </div>
                </nav>
        
                <div  class="container">
                    <br>
                    <h1 align="center">CWRU LibDB</h1>
                    <hr/>

                    <h2 align="center">Forgot Password?</h2>
                    <h5 align="center">
                        Let us help!
                      </h5>  
                  <div class="row">
                      
                    <div class="col col-md-4">
                    </div>

                    
                    <div class="col col-md-4">
                    <hr>
                    <form action="" method="post">
                            <fieldset>
                                <div class="form-group">
                                        <label >Enter your ID to reset your password</label>
                                        <input name="Email" type="email" class="form-control"/>
                                </div>
                            </fieldset>
                            <input name="submit" type="submit" value="Submit" class="btn btn-primary"/><hr/>
                        </form>
                    </div>

                    <div class="col col-md-4">
                    </div>
                </div>
                    
                </div>
                <footer class="footer fixed-bottom">
                        <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #0A304E;">
                                <div class="" id="navbarColor01">
                                    <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <p class="nav-link" href="#">All rights reserved&trade;</p>
                                    </li>
                                    </ul>
                                </div>
                            </nav>
                </footer>
    </body>
</html>
