
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0A304E;">
                    <a class="navbar-brand" href="#">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="home.html">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="results.html">Results</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="profile.html">User Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="checkout.html">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="logout.html">Logout</a>
                            </li>
                          </ul>
                        </div>
                </nav>
        
                <div  class="container">
                    <br>
                    <h1 align="center">CWRU LibDB</h1>
                    <hr/>

                    <h2 align="center">Book Search</h2>
                    <div class="row">
                      
                      <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for books" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control">
                                        <option value="0" selected>All Books</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Genre</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Book ID</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Author</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Date</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Publisher</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true">?</span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>
                    </div>
                </div>
            </div>
          </div>
        
	

                    

                    
                    

                    
                    </div>
                    
                </div>
                <footer class="footer fixed-bottom">
                        <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #0A304E;">
                                <div class="" id="navbarColor01">
                                    <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <p class="nav-link" href="#">All rights reserved&trade;</p>
                                    </li>
                                    </ul>
                                </div>
                            </nav>
                </footer>
    </body>
</html>
