
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #0A304E;">
                    <a class="navbar-brand" href="homeretry.html">Search</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="profile">User Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="checkout">Cart</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="logout">Logout</a>
                            </li>
                            {% if privilege %}
                            <li class="nav-item">
                                <a class="nav-link" href="adminpage">Administrator Page</a>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                </nav>
        
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                    <dl>
                        {{render_field(form.select)}}
                        <p>
                        {{render_field(form.search)}}
                    </dl>
                    <p><input type=submit value=Search>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <footer class="footer fixed-bottom">
                        <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #0A304E;">
                                <div class="" id="navbarColor01">
                                    <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <p class="nav-link" href="#">All rights reserved&trade;</p>
                                    </li>
                                    </ul>
                                </div>
                            </nav>
                </footer>
    </body>
</html>
